* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
  background-color: #343a40;
}

.container {
  display: grid;
  margin: 100px auto;
  width: 320px;
  border-radius: 12px;
  box-shadow: rgba(46, 46, 46, 0.2) 0px 48px 100px 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.6fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr;
  grid-auto-flow: row;
  grid-template-areas:
    "display-small display-small display-small display-small"
    "display-result display-result display-result display-result"
    "AC C percent divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero dot equals";
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 80px;
  height: 70px;
  font-size: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  cursor: default;
}

.number {
  background-color: #457b9d;
  color: #f1faee;
  border-top: 1px solid #15252f;
  border-right: 1px solid #15252f;
}

.top-elem {
  background-color: #30566e;
  color: #f1faee;
}
.operand {
  background-color: #ee6c4d;
  color: #f1faee;
}

.small-display {
  grid-area: display-small;
  height: 40px;
  text-align: right;
  padding: 8px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #1c313f;
  color: #f1faee;
}

.result-display {
  grid-area: display-result;
  border-top: 1px solid #839aa8;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 8px;
  font-size: 36px;
  background-color: #1c313f;
  color: #f1faee;
  overflow: scroll;
}
.result-display-overflow {
  font-size: 28px;
  grid-area: display-result;
  border-top: 1px solid #839aa8;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 8px;
  background-color: #1c313f;
  color: #f1faee;
  overflow: scroll;
}

.zero {
  grid-area: zero;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  border-bottom-left-radius: 12px;
}

.dot {
  grid-area: dot;
}
.percent {
  grid-area: percent;
  border-right: 1px solid #15252f;
}

.equals {
  grid-area: equals;
  border-bottom-right-radius: 12px;
  border-top: 1px solid #15252f;
}

.add {
  grid-area: add;
  border-top: 1px solid #15252f;
}

.subtract {
  grid-area: subtract;
  border-top: 1px solid #15252f;
}

.multiply {
  grid-area: multiply;
  border-top: 1px solid #15252f;
}

.divide {
  grid-area: divide;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.AC {
  grid-area: AC;
  border-right: 1px solid #15252f;
}

.C {
  grid-area: C;
  border-right: 1px solid #15252f;
}
